.hamburger {
    position: absolute;
    top: 0;
    right: 1%;
    outline: none;
    opacity: .8;
    z-index: 10000;
    transition: .3s;
    &:hover {
        opacity: 1;
    }
    .hamburger-box {
        color: $black;
        .hamburger-inner {
            color: $black;
        }
    }   
}