.parallax-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #2c2b29;
}

#parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parallax__layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.parallax__image {
    position: absolute;
    max-height: 110%;
    max-width: 110%;
    user-select: none;
    transform: translateX(-3%);
}


.parallax__roof {
    transform: scale(1.24) translateY(7%);
}

.parallax__hangar{
    transform: scale(1.24) translateY(7%);
}

.parallax__inner {
    transform: scale(1.24) translateY(7%);   
}

.parallax__bg {
  transform: scale(1.4) translateX(5%);
}

.parallax__grass {
    transform: scale(1.36) translateY(2%); 
}

