.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: red;
}

.parallax__layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.parallax__image {
    position: absolute;
    bottom: 0;
    max-height: 110%;
    max-width: 110%;
    user-select: none;
  }