.about-wrapper
    //- #soilParallax
    //-     div(data-depth="1" class='parallax__layer soil-row')
    //-         .soil-row-bg
    .about__row
        .logo-wrapper
            img(class='about__logo' src="./assets/images/icons/logo_bright.svg")
        .vr__desc
            p
                strong VR
                i  (Virtual Reality)
                |  - собирательное название довоенных технологий альтернативных реальностей первой фазы, 
                | присущих человеческой расе и получивших свое развитие на заре 20-х годов XXI века.
                br
                br 
                | Виртуальная реальность применялась для межпланетной коммуникации, взаимодействия с искусственным разумом, моделирования,
                | управления беспилотными боевыми единицами. В это трудно поверить, но у наших исследователей истории есть все основания полагать, что на ранних этапах эта прогрессивная технология
                | использовалась людьми так же для расширения границ восприятия, получения неординарных ощущений, и даже просто веселого времяпрепровождения!
                br
                br   
                | В нашем распоряжении 2 трофейные установки HTC Vive, уютная обстановка, дружелюбная ламповая атмосфера — всё, что необходимо для вашего
                | комфортного и непременно глубокого погружения. Узнай, как развлекались люди до появления Нейронета!

    .devices-wrapper
        img(src="./assets/images/devices.jpg" class="devices")