.about-wrapper
    .soil-row
    .about__content
        .logo-wrapper
            img(class='about__logo' src="./assets/images/icons/logo_bright.svg")
        .vr__description 
            p
                strong VR
                i  (Virtual Reality)
                |  - собирательное название довоенных технологий альтернативных реальностей первой фазы, присущих человеческой расе и получивших свое развитие на заре 20-х годов XXI века.