.contacts-wrapper
    #map
    .footer
        .footer__logo-wrapper
            a(href="http://deepdive.pro" class="footer__logo-link")
                img(class='footer__logo' src="./assets/images/icons/sign.svg")
                .logo__title Deep Dive VR
        .contacts-info-wrapper        
            .footer__adress г.Краснодар, ул. Ленина, 22
            a(class="footer__phone-link" href="tel:+79034580424") +7 903 458-04-24
        .socials-wrapper
            ul.socials__list
                li.socials__item
                    a.social__link(href="https://vk.com/deepdivevr")
                        img(class='socials__icon' src="./assets/images/icons/vk.svg")                        
                li.socials__item
                    a.social__link(href="https://instagram.com/deepdivevr")
                        img(class='socials__icon' src="./assets/images/icons/insta.svg")
                li.socials__item
                    a.social__link(href="https://t.me/deepdivevr")
                        img(class='socials__icon' src="./assets/images/icons/telegram.svg")                            
