extends ../template

block variables
    - var title = "Deep Dive VR"

block content
    include ../components/humburger.pug
    //- include ../components/fs-menu.pug
    include ../components/pipboy.html
    include ../components/parallax.pug
    include about.pug
    include menu.pug

                      
