extends ../template

block variables
    - var title = "Deep Dive VR"

block append head
    script(src='assets/scripts/onepagescroll.js')

block content 
    section
        include ../components/parallax.pug
    section
        include about.pug
    section
        include menu.pug
    section
        include prices.pug
    section
        include contacts.pug

block navigation
    include ../components/humburger.pug
    include ../components/pipboy.html
    include ../components/preloader.pug   
                      
