.menu-wrapper
    .menu__row
        .menu__title Меню
    .menu__row
        .menu__desc
            p
                | В нашем ассортименте все актуальные старинки – впечатляющий, обучающий, развлекающий и будоражащий контент для всех возрастов!
                | От неофитов до опытных дайверов – каждый найдет свою глубину! 
                br 
                i "И пусть никто не уйдет обиженным".  
                br
                br
                br
            .center            
                span.medium Меню постоянно пополняется!
                br
                br
                a(href="https://vk.com/deepdivevr" class="vk-link") Следите за обновлениями!
            
    .menu__socials    
        ul.socials__list
            li.socials__item
                a.social__link(href="https://vk.com/deepdivevr")
                    img(class='socials__icon' src="./assets/images/icons/vk.svg")                        
            li.socials__item
                a.social__link(href="https://instagram.com/deepdivevr")
                    img(class='socials__icon' src="./assets/images/icons/insta.svg")
            li.socials__item
                a.social__link(href="https://t.me/deepdivevr")
                    img(class='socials__icon' src="./assets/images/icons/telegram.svg")         
        