.prices__wrapper
    .prices__row
        .prices__title Цены
        ul.prices__list
            li.prices__item
                .prices__text 30 мин — 300₽
            li.prices__item
                .prices__text 1 час — 500₽
    .prices__row
        .work-days-title График работы
        .work-days Пн-Пт: c 19 до 22
        .work-days Сб-Вс: с 11 до 23
    .phone__row
        .phone-title Запись по телефону
        .work-days
            a(class="prices__phone-link" href="tel:+79034580424") +7 903 458-04-24