.about-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#soilParallax {
    width: 200%;
    height: 8%;
    overflow: hidden;
}

.soil-row {
    height: 100%;
    width: 100%;
}

.soil-row-bg {
    background: url('../images/soil.jpg');
    background-size: contain;
    width: 100%;
    height: 100%;
    transform: translateX(-40%);        
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 92%;
}


.about__row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70%;
    @include tablets() {
        flex-direction: column;
        height: 100%;
    }
    @include phones() {
        flex-direction: column;
        height: 100%;
    }    
    // @include laptops() {
    //     flex-direction: column;
    //     height: 100%;
    // }    
    
}

.logo-wrapper {
    max-width: 100%;
    max-height: 100%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    @include tablets() {
        width: 100%;
        height: 30%;
        padding: 1%;
        justify-content: center;
        margin: 0;
    }
    @include phones() {
        height: 20%;
        padding: 0;
    }

    @include iphone6plus-land {
        padding: 0;
        height: 20%;
    }

    @include iphone5 {
        height: 16%;
        padding: 0;
    }

    @include iphone5-land {
        display: none;
    }
}

.about__logo {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 200px;
    @include iphone6plus {
        margin-top: 20px;
    }
    @include iphone6plus-land {
        margin-top: 20px;
    }    
}

.vr__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 70%;
    height: 100%;
    max-height: 100%;
    color: white;
    @include roboto();
    padding: 30px;
    @include tablets() {
        margin-bottom: 0;
        width: 100%;
        padding: 30px;
        height: 70%;

    }
    @include phones() {
        height: 80%;
        margin-top: 0;
        padding: 20px 10px 20px 20px;
    }
    
    @include iphone6plus-land {
        padding: 30px;
        height: 80%;
    }

    @include iphone5 {
        height: 84%;
    }

    @include iphone5-land {
        height: 100%;
        padding: 25px;
    }


}

.vr {
    font-weight: bold;
}

.desc__medium {
    @include roboto(medium);

}

.devices-wrapper {

    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 40%;
    background: white;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

    @include tablets() {
        height: 30%;
    }
    @include phones() {
        display: none;
    }
    @include iphone6-land() {
        display: none;
    }    
}

.devices {
    width: auto;
    height: 100%;

    @include ipad-land {
        width: 100%;
        height: auto;
    }
    @include iphone6plus-land {
        width: auto;
        height: 100%;           
    }
}
