.menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    width: 100%;
    height: 100vh;
    position: relative;
}


.menu__row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    @include tablets() {
        flex-direction: column;
    }
}

.menu__title {
    @include roboto(medium);
    color: $white;
    font-size: rem(45px);
    margin-top: 3%;
}

.menu__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 100%;
    color: $white;
    font-size: rem(18px);
    @include roboto();
    margin-top: 20px;
    max-width:1000px;
    padding: 40px;
    @include phones() {
        padding: 10px 10px 20px 20px;
    }
}

.center
{
    text-align: center;
}

.medium {
   @include roboto(medium);
}

.vk-link {
    text-decoration: underline;
    color: $white;
    margin-bottom: 60px;
}

.menu__socials {
    @include flex();
    position: absolute;
    width: 100%;
    bottom: 5%;
}