// Colors
$black: #2b2a28;
$dark-green: #35a539;
$green: #78e461;
$white: #fefefe;


// Resolutions
$desktop: 1200px;
$laptops: 992px;
$tablets: 768px;
$phones: 480px;


@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

// Normalize
@import 'common/normalize.min';

@import 'common/fonts';
@import 'common/media';
@import 'common/mixins';
@import 'common/layout';

//Hamburgers
@import "hamburgers/hamburgers.scss";

// One page scroll
@import "libs/onepage-scroll.scss";


@import 'components/hamburger-menu';
@import 'components/preloader';
@import 'components/pipboy';
@import 'components/menu';
@import 'components/parallax';
@import 'pages/about';
@import 'pages/menu';
@import 'pages/prices';
@import 'pages/contacts';

@import 'pages/index';