.fs-menu
    ul.fs-menu__list
        li.fs-menu__item
            a(href="works.html" class="fs-menu__link")
                .fs-menu__title О НАС
        li.fs-menu__item
            a(href="about.html" class="fs-menu__link")
                .fs-menu__title МЕНЮ
        li.fs-menu__item
            a(href="blog.html" class="fs-menu__link")
                .fs-menu__title ЦЕНЫ
        li.fs-menu__item#fs-menu-auth
            a(href="index.html" class="fs-menu__link")
                .fs-menu__title КОНТАКТЫ