.parallax-wrapper
    #parallax
        div(data-depth="0.1" class='parallax__layer responsive-img parallax__bg')
          img(src='./assets/images/parallax/back.png').parallax__image
        div(data-depth="0.35" class='parallax__layer responsive-img parallax__inner')
          img(src='./assets/images/parallax/inner.png').parallax__image
        div(data-depth="0.5" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/hangar.png').parallax__image.parallax__hangar
        div(data-depth="0.6" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/roof2.png').parallax__image.parallax__roof
        div(data-depth="0.8" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/grass.png').parallax__image.parallax__grass