.parallax-wrapper
    #parallax
        .parallax__layer.responsive-img
          img(src=`./assets/images/parallax/back.png`).parallax__image
        .parallax__layer.responsive-img
          img(src=`./assets/images/parallax/hangar.png`).parallax__image
        .parallax__layer.responsive-img
          img(src=`./assets/images/parallax/roof.png`).parallax__image
        .parallax__layer.responsive-img
          img(src=`./assets/images/parallax/grass.png`).parallax__image