.parallax-wrapper
    #parallax
        div(data-depth="0.2" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/back.png').parallax__image
        div(data-depth="0.4" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/hangar.png').parallax__image
        div(data-depth="0.6" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/roof.png').parallax__image
        div(data-depth="0.7" class='parallax__layer responsive-img')
          img(src='./assets/images/parallax/grass.png').parallax__image