//Roboto


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@mixin roboto($font: regular, $style: normal) {
	font-family: 'Roboto', Helvetica, sans-serif;

	@if $font == regular {
		font-weight: normal;
		@if $style == normal {
			font-style: normal;
		}
	}
	
	@if $font == bold {
		font-weight: bold;
		@if $style == normal {
			font-style: normal;
		}
		@if $style == italic {
			font-style: italic;
		}
	}

	@if $font == medium {
		font-weight: 500;
		@if $style == normal {
			font-style: normal;
		}
		@if $style == italic {
			font-style: italic;
		}
	}

	@if $font == light {
		font-weight: 200;
		@if $style == normal {
			font-style: normal;
		}
		@if $style == italic {
			font-style: italic;
		}
	}	
}